<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">
    <head>
        <xi:include href="base.html"/>
        <replace py:replace="pagehead()"/>
    </head>
    <body>
        <div id="main">
            <div py:replace="header()"/>
            <div id="errorContent">
                <div class="error" py:if="c.xml">
                $c.xml
                </div>
            </div>
            <div py:replace="footer()"/>
        </div>
    </body>
</html>