<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">        
    <head>
        <xi:include href="base.html"/>
        <replace py:replace="pagehead()"/>
    </head>
    <body>
        <div id="main">
            <div py:replace="header()"/>
            <div class="mainPageContent" style="text-indent:5px">        
                <h2>OpenID Identity Page</h2>
                <p>This is the OpenID Identity Page for user:</p>
                <p>${c.xml}</p>
            </div>
            <div py:replace="footer()"/>
        </div>
    </body>
</html>